<%= flash[:notice] %>
<div>
  <h4>Import peoples!</h4>
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import from file" %>
  <% end %>
</div>


<div>
  <h4>Import buildings!</h4>
  <%= form_tag import_buildings_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import from file" %>
  <% end %>
</div>
